@use '../abstracts' as *;

.careers {
  position: relative;

  .bg-img {
    position: relative;
    min-height: 60vh;
    background: $black url(../assets/img/careers.jpg);
    @include image-property(initial);
    width: 100%;

    @include medium {
      min-height: 100vh;
    }
  }

  .collaboration {
    padding: 4rem;
    max-width: 800px;
    margin-inline: auto;
    padding-inline: 2rem;
    text-align: center;

    @include medium {
      padding-top: 8.5rem;
    }

    h2 {
      text-align: center;
      font-size: 1.75rem;
      text-transform: uppercase;
      line-height: 1.3;
      color: $primary-clr;
      font-weight: 400;
      margin-bottom: 1.438rem;

      @include medium {
        font-size: 2.438rem;
      }
    }

    p {
      font-size: 1.1rem;
      line-height: 2;
      color: rgba(29, 29, 29, 0.7);
      margin-bottom: 2rem;

      @include medium {
        font-size: 1.25rem;
      }
    }

    .btn {
      text-transform: uppercase;
      border: 2px solid $primary-clr;
      background-color: transparent;
      color: $primary-clr;
      padding: 1rem 2.125rem;
      margin: 2rem 0;
      letter-spacing: 2px;
      font-weight: 500;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $primary-clr;
        color: $white;
      }
    }
  }

  .image-slider {
    @include grid(repeat(2, 1fr), 1rem);
    margin-bottom: 6rem;

    @include medium {
      grid-template-columns: repeat(3, 1fr);
    }

    .slide-img {
      height: 220px;
    }

    .slide-img img {
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .modal {
    height: 100vh;
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      @include flex(center, center);
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 800;
    }

    .close-btn {
      position: fixed;
      top: 2.5rem;
      right: 1rem;
      font-size: 2rem;
      z-index: 840;
      color: $white;
      cursor: pointer;
    }

    .left-btn,
    .right-btn {
      position: fixed;
      top: 50%;
      font-size: 1.5rem;
      transform: translateY(-50%);
      z-index: 1000;
      color: $white;
      cursor: pointer;
    }

    .left-btn {
      left: 2rem;
    }

    .right-btn {
      right: 2rem;
    }

    .full-img img {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 0 0.4rem;
      width: 100%;
      max-width: 1000px;
      z-index: 999;
      user-select: none;
      opacity: 0.9;
      pointer-events: none;
    }
  }

  .career-faqs {
    .bg-img {
      position: relative;
      min-height: 30vh;
      background: $black url(../assets/img/faq.jpg);
      @include image-property(initial);
      width: 100%;
      margin-bottom: 6rem;

      @include medium {
        min-height: 70vh;

        margin-bottom: 8rem;
      }
    }

    .bg-text {
      position: absolute;
      top: 55%;
      left: 10rem;
      transform: translate(-50%, -55%);
      @include flex(center, center);
      color: $white;
      text-transform: uppercase;
      font-size: 2rem;
      width: 100%;
      letter-spacing: 4px;

      @include medium {
        font-size: 3.188rem;
        letter-spacing: 6px;
        left: 50%;
      }
    }

    .faq {
      background-color: #e6e6e6;
      margin-bottom: 1rem;
      padding: 1.5rem 1rem;
      border-radius: 0.3rem;
      max-width: 700px;
      margin-inline: auto;

      .title {
        @include flex(center, space-between);

        .icon {
          font-size: 1.1rem;
        }
      }

      h3 {
        font-size: 1.2rem;
        font-weight: 800;

        @include medium {
          font-size: 1.375rem;
        }
      }

      .content {
        padding-top: 1rem;
        color: $light-clr;
        max-height: 0;
        overflow: hidden;
        transition: all 0.4s cubic-bezier(0, 1, 0, 1);

        &.show {
          height: auto;
          max-height: 999px;
          transition: all 0.4s cubic-bezier(1, 0, 1, 0);
        }
      }
    }
  }

  .follow {
    margin-top: 5rem;

    @include medium {
      @include flex(center, center);
      img {
        max-width: 300px;
      }
    }
  }
}
