@use '../abstracts' as *;

.feature {
  position: relative;

  .bg-img {
    position: relative;
    min-height: 60vh;
    background: $black url(../assets/img/feature-hero.jpg);
    @include image-property(initial);
    width: 100%;

    @include medium {
      min-height: 80vh;
    }
  }

  &-movies {
    padding-top: 5rem;
    @include grid(repeat(2, 1fr), 3rem);
    text-align: center;

    @include medium {
      padding-top: 7.5rem;

      grid-template-columns: repeat(3, 1fr);
    }

    .movie {
      img {
        width: 140px;
        height: 197px;
        object-fit: cover;
        cursor: pointer;

        @include medium {
          width: 203px;
          height: 295px;
        }
      }

      h4 {
        color: $light-clr;
        text-transform: capitalize;
        font-size: 0.7rem;
        font-weight: 300;
        padding-top: 0.3rem;

        @include medium {
          font-size: 0.9rem;
        }
      }
    }
  }
}
